/* ===============================
 Estilos de la aplicación Tienda Natural
=============================== */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===============================
 Estilos generales del body
=============================== */
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Mantiene la navbar estable entre vistas */ 
  background-color: #FDF6E0; /* derivado suave del accent */
  color: #3B060A;
}

/* ===============================
 Contenedor raíz de la app
=============================== */
#root {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  text-align: center;
}
